---
layout: default
title: "Home"
---
<p uk-margin>
    <a class="uk-button uk-button-default" href="#">Link</a>
    <button class="uk-button uk-button-default">Button</button>
    <button class="uk-button uk-button-default" disabled>Disabled</button>
</p>
{% if site.show_excerpts %}
  {% for post in site.posts %}
    <article>
      {% include meta.html post=post %}
      {{ post.excerpt }}
      <footer class="button"><a href="{{ post.url | relative_url }}">read more</a></footer>
    </article>
  {% endfor %}
{% else %}
  {% capture source %}{% include_relative archive.html title="Posts" %}{% endcapture %}
  {{ source | split: "---" | last }}
{% endif %}
